.forgot-password-form {
    max-width: 500px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  
  .forgot-password-form-margin {
    margin-bottom: 16px;
  }
  
  .forgot-password-form-forgot {
    float: right;
  }
  
  .forgot-password-form-button {
    width: 100%;
  }