<label class="lbl">Check type:</label>
<nz-select class="check" nzShowSearch nzAllowClear [(ngModel)]="type">
  <ng-container>
    <nz-option nzLabel="root" nzValue="{{1}}"></nz-option>
    <nz-option nzLabel="interRoot" nzValue="{{2}}"></nz-option>
    <nz-option nzLabel="endEntity" nzValue="{{3}}"></nz-option>
    <nz-option nzLabel="intermediate" nzValue="{{4}}"></nz-option>
  </ng-container>
</nz-select>
<br><br>
<label class="lbl1">Is digital signature:</label>
<label nz-checkbox [(ngModel)]="digitalSignatureC"></label>
<br><br>
<label class="lbl1">Is key encipherment:</label>
<label nz-checkbox [(ngModel)]="keyEnciphermentC"></label>
<br><br>
<label class="lbl1">Is key agreement:</label>
<label nz-checkbox [(ngModel)]="keyAgreementC"></label>
<br><br>
<label class="lbl1">Is non repudiation:</label>
<label nz-checkbox [(ngModel)]="nonRepudiationC"></label>
 <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <br>  
  
      <nz-form-item> 
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="days" nzRequired>
            <span>Days</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input days!">
            <input nz-input id="days" formControlName="days" />
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="subject" nzRequired>
            <span>Subject</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" >
            <input nz-input id="subject" formControlName="subject" />
          </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="issuer" nzRequired>
            <span>Issuer</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input id="issuer" formControlName="issuer" />
          </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid" nzGhost>Create certificate</button>
        </nz-form-control>
      </nz-form-item>
    </form> 