.btnCreate {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btnCreate:hover {
    opacity:1;
  }

  .check{
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .lbl{
    margin-left: 182px;
    margin-top: 20px;
  }
  .lbl1{
    margin-left: 182px;
    margin-top: 20px;
  }